@media ( max-width: 1200px )
  .container
    max-width: 960px
  .slider
    width: 586px
  .swiper
    &-slide
      &__image
        height: 100%
        object-fit: cover

@media ( max-width: 1050px )
  .container
    max-width: 900px
  .slider
    width: 531px

@media ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 760px
    width: 90%
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 20px
    &-right
      flex-direction: row
  .booking
    width: 370px
    &__button
      padding: 13px 78px
  .map
    width: 370px
  .slider
    width: 100%
  .swiper
    &-slide
      &__image
        width: 100%
  .navbar
    &-bottom
      padding-top: 22px
      padding-bottom: 23px
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .logo
    width: 132px
    height: 18px

@media ( max-width: 840px )
  .booking
    width: 49%
    &__button
      padding: 13px 70px
  .map
    width: 49%

@media ( max-width: 768px )
  .container
    max-width: 700px
    width: 100%
  .navbar
    &-bottom
      &__container
        max-width: 673px
  .hotel
    padding-bottom: 60px
  .newsletter
    padding: 92px 0 93px 0

@media ( max-width: 740px)
  .container
    max-width: 640px
    width: 90%
  .navbar
    &-bottom, &__search, &__user
      display: none
  .button
    &-menu
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 16px
      height: 11px
      margin: 0
      padding: 0
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .slider
    height: 350px
  .hotel
    padding-bottom: 60px
    &__slider
      margin-bottom: 20px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding: 76px 0 83px 0
    &-title
      margin-bottom: 20px
    &-wrapper
      flex-direction: column
      align-items: flex-start

@media ( max-width: 600px )
  .rating
    display: none
  .offer
    order: -1
  .hotel
    &-wrapper
      justify-content: space-between
      &__stars
        margin-right: 15px
    &-name
      flex-basis: 100%
      &__title
        margin-top: 8px
    &-info
      &__offer
        margin-top: 0
        margin-left: 0
  .stars
    flex-basis: auto

@media ( max-width: 480px )
  .logo
    width: 99px
    height: 13px
  .slider
    height: 179px
    &-button
      width: 12px
      height: 12px
      background-size: 6px
      &--next
        right: 12px
        background-image: url(../img/arrow-next-small.svg)
      &--prev
        left: 12px
        background-image: url(../img/arrow-prev-small.svg)
  .newsletter
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px
    &__strong
      font-size: 30px
      line-height: 38px
    &__subscribe
      width: 280px
@media ( max-width: 382px )
  .booking__button
    padding: 13px 48px
  .hotel
    &__slider
      margin-bottom: 20px

@media ( max-width: 320px )
  .container
    max-width: 280px
  .slider
    width: 279px
  .map
    height: 173px
    margin-top: 20px
  .hotel
    padding-bottom: 40px
    &-right
      flex-direction: column
      justify-content: flex-start
      min-height: 402px
  .slider
    &-button
      width: 12px
      height: 12px
      background-size: 6px
      &--next
        right: 6px
        background-image: url(../img/arrow-next-small.svg)
      &--prev
        left: 6px
        background-image: url(../img/arrow-prev-small.svg)
  .newsletter__strong
    margin-top: 5px
