@media ( max-width: 1200px )
  .container
    max-width: 960px

@media ( max-width: 1050px )
  .container
    max-width: 900px

@media ( max-width: 992px )
  .container
    max-width: 760px
    width: 90%
  .navbar
    &-bottom
      padding-top: 22px
      padding-bottom: 23px
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      max-width: 340px
  .logo
    width: 132px
    height: 18px

@media ( max-width: 768px )
  .container
    max-width: 700px
    width: 100%
  .navbar
    &-bottom
      &__container
        max-width: 673px

@media ( max-width: 740px)
  .container
    max-width: 640px
    width: 90%
  .navbar
    &-bottom, &__search, &__user
      display: none
  .button
    &-menu
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 16px
      height: 11px
      margin: 0
      padding: 0
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

@media ( max-width: 600px )
  .rating
    display: none
  .offer
    order: -1
  .hotel
    &-wrapper
      justify-content: space-between
      &__stars
        margin-right: 15px
    &-name
      flex-basis: 100%
      &__title
        margin-top: 8px
    &-info
      &__offer
        margin-top: 0
        margin-left: 0
  .stars
    flex-basis: auto

@media ( max-width: 480px )
  .logo
    width: 99px
    height: 13px

@media ( max-width: 320px )
  .container
    max-width: 280px
