.hotel
  padding-top: 23px
  padding-bottom: 70px
  &__stars
    width: 7px
    height: 7px
    margin-right: 2.67px
  &-name
    margin-top: 4px
    margin-bottom: 0
    font-size: 24px
    line-height: 30px
    font-weight: bold
    text-transform: uppercase
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-info
    display: flex
    justify-content: space-between
    align-items: center
  &-info__offer
    margin-top: 4px
    margin-left: 14px
.stars
  flex-basis: 100%
  font-size: 0
.offer
  padding: 3px 9px 4px 9px
  border-radius: 3px
  background-color: $primary
  color: $white
  font-weight: 600
  font-size: 10px
  line-height: 13px
.description
  font-size: 12px
  line-height: 15px
  margin: 0
.rating
  padding: 9px 6px 6px 7px
  background-color: $primary
  border-radius: 4px
  max-width: 65px
  min-height: 45px
  color: $white
  text-align: center
  display: flex
  flex-direction: column
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
