.hotel
  padding-top: 23px
  padding-bottom: 70px
  &__stars
    width: 7px
    height: 7px
    margin-right: 2.67px
  &-name
    font-size: 24px
    line-height: 30px
    font-weight: bold
    text-transform: uppercase
    &__title
      margin-top: 4px
      margin-bottom: 2px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 20px
  &-info__offer
    margin-top: 4px
    margin-left: 14px
  &-grid
    display: flex
    justify-content: space-between
  &-right
    display: flex
    flex-direction: column
    justify-content: space-between
.stars
  flex-basis: 100%
  font-size: 0
.offer
  padding: 3px 9px 4px 9px
  border-radius: 3px
  background-color: $primary
  color: $white
  font-weight: 600
  font-size: 10px
  line-height: 13px
.description
  font-size: 12px
  line-height: 15px
  margin: 0
.rating
  padding: 9px 6px 6px 7px
  background-color: $primary
  border-radius: 4px
  max-width: 65px
  min-height: 45px
  color: $white
  text-align: center
  display: flex
  flex-direction: column
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
.swiper-container
  width: 100%
  height: 100%
  position: relative
  border-radius: 8px
.swiper-slide
  position: relative
  &::after
    content: ""
    position: absolute
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    right: 0
    left: 0
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    z-index: 98
.slider
  width: 728px
  height: 450px
  &-button
    width: 30px
    height: 30px
    border: none
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 99
    outline: none
    cursor: pointer
    background-repeat: no-repeat
    background-size: 10px
    background-position: center
    background-color: transparent
    &--next
      right: 18px
      background-image: url(../img/arrow-next.svg)
    &--prev
      left: 18px
      background-image: url(../img/arrow-prev.svg)
.booking
  border-radius: 8px
  background: $dark
  color: $white
  width: 350px
  min-height: 210px
  padding: 29px 29px 26px 26px
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-family: Nunito
    font-style: normal
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-family: Nunito
    font-style: normal
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &__per-room
    font-family: Nunito
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__room
    margin-top: 4px
  &__text
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 8px
    font-family: Nunito
    font-style: normal
    font-weight: normal
    font-size: 12px
  &__description
    margin-left: 9px
  &__call-center
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 17px
  &__heading
    font-family: Nunito
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__number
    text-decoration: none
    display: flex
    justify-content: space-between
    align-items: center
  &__num
    font-family: Nunito
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    color: $white
    margin-left : 8px
  &__button
    width: 100%
    min-height: 45px
    padding: 13px 83px
    border-radius: 4px
    background: $primary
    color: $white
    border: none
    cursor: pointer
    font-family: Nunito
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
.map
  width: 347px
  height: 213px
  background: black
  border-radius: 10px
  overflow: hidden
